version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest
    working_directory: ~/react-website-boilerplate
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: npm i
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Test
          command: npm test
      - run:
          name: Build
          command: npm run build
